@model AgenciaViaje.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

  <div class="bg-banner">

        <h1>Cadastrar Cliente:</h1>

        <div class=rowform>
        <div class="form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3">
                <span asp-validation-for="Nome" class="input-group-text" id="inputGroup-sizing-default">Nome:</span>
                <input asp-for="Nome" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                
            </div>
            <div class="input-group mb-3">
                <span asp-validation-for="CPF" class="input-group-text" id="inputGroup-sizing-default">CPF:</span>
                <input asp-for="CPF" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                
            </div>
            <div class="input-group mb-3">
                <span asp-validation-for="Telefone" class="input-group-text" id="inputGroup-sizing-default">Telefone:</span>
                <input asp-for="Telefone" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                
            </div>
            <div class="input-group mb-3">
                <span asp-validation-for="Endereco" class="input-group-text" id="inputGroup-sizing-default">Endereço:</span>
                <input asp-for="Endereco" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                
            </div>
            <div class="input-group mb-3">
                <span asp-validation-for="Email" class="input-group-text" id="inputGroup-sizing-default">Email:</span>
                <input asp-for="Email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                
            </div>
            <div class="input-group mb-3">
                <span asp-validation-for="IdDestino" class="input-group-text" id="inputGroup-sizing-default">IdDestino:</span>
                <select asp-for="IdDestino" class ="form-control" asp-items="ViewBag.IdDestino"></select>
            </div>
            <div class="d-grid gap-2">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
        <div class="d-grid gap-2">
            <a asp-action="Index" asp-controller="Clientes"><button class="btn btn-primary" type="button">Voltar</button></a>
        </div>
    </div>
 </div>
 </div>

    <footer>
        <p class="rodape bg-primary">Contato: 0800 0000</p>
        <p class="rodape bg-primary">2022 Agência Viaje! - Todos os direitos reservados. </p>

    </footer> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
