@model AgenciaViaje.Models.Destino

@{
    ViewData["Title"] = "Create";
}


<div class="bg-banner">

    <h1>Cadastrar Destino:</h1>

    <div class="rowform">
    <div class="form">
          <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group mb-3">
                        <span asp-validation-for="Cidade" class="input-group-text" id="inputGroup-sizing-default">Cidade:</span>
                        <input asp-for="Cidade" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />   
                    </div>
                    <div class="input-group mb-3">
                        <span asp-validation-for="Hotel" class="input-group-text" id="inputGroup-sizing-default">Hotel:</span>
                        <input asp-for="Hotel" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                
                    </div>
                    <div class="input-group mb-3">
                        <span asp-validation-for="Dias" class="input-group-text" id="inputGroup-sizing-default">Dias:</span>
                        <input asp-for="Dias" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                
                    </div>
                    <div class="input-group mb-3">
                        <span asp-validation-for="Valor" class="input-group-text" id="inputGroup-sizing-default" >Valor:</span>
                        <input asp-for="Valor" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                
                    </div>
                    <div class="d-grid gap-2">
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                    </div> 
           </form>
           <div class="d-grid gap-2">
                <a asp-action="Index" asp-controller="Destinos"><button class="btn btn-primary" type="button">Voltar</button></a>

           </div>
     </div>
     </div>
</div>

   
<footer>
    <p class="rodape bg-primary">Contato: 0800 0000</p>
    <p class="rodape bg-primary">2022 Agência Viaje! - Todos os direitos reservados. </p>
</footer> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
