@{
    ViewData["Title"] = "Home Page";
}

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" asp-action="Destinos">Destinos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" asp-action="Promocoes">Promoções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" asp-action="Create" asp-controller="Contatos">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" asp-action="Adm">Administração</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <img src="~/imagens/banner.jpg" alt="Escolhendo seu destino" class="banner">
  </header>

  <section id="texto">
    <h1>Quem Somos</h1>
    <p class="texto">A Agência Viaje! é uma agência que trabalha com uma proposta de atendimento personalizado ao cliente.</p>
    <p class="texto">Aqui você será atendido por pessoas capacitadas, que realmente conhecem o assunto, fornecendo informações sobre os melhores destinos e os melhores hotéis, sempre associando qualidade e preços justos. Tudo de acordo com o seu gosto e o seu bolso.</p>
    <p class="texto">Nossa missão é trabalhar para que o cliente desfrute da satisfação de viajar em sua plenitude.</p>
  </section>

  <footer>
    <p class="rodape bg-primary">Contato: 0800 0000</p>
    <p class="rodape bg-primary">2021 Agência Viaje! - Todos os direitos reservados. </p>
  </footer> 
  
</body>

